h1, h2, h3, p {
    margin-top: 0;
    margin-bottom: 0;
}
ul {
    margin: 0;
    padding-left: 0;
    list-style: none;
}

img {
    display: block;
}

a {
    text-decoration: none;
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    border: 0;
    clip: rect(0 0 0 0);
}
.section {
    padding-top: 94px;
    padding-bottom: 94px;
}


:root {
    --main-color: #212121;
    --add-color: #2196F3;
    --filter-menu: #757575;
    --bancground-color: #fff;
    --add-bgc: #F5F4FA:
}

body {
       font-family: 'Roboto', sans-serif;
       font-size: 14px;
       letter-spacing: 0.03em;
       color: var(--filter-menu);
       background-color: var(--bancground-color);
   }
header {
    border-bottom: 1px solid #ECECEC;
}


 .container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
 /* header */




.logof {  
    color: var(--main-color);    
}

.logof:focus, .logof:hover {
    color: var(--add-color);
}

.header {   
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    text-decoration: none;
    color: var(--add-color); 
    margin-right: 93px;   
    font-family: 'Raleway';
    letter-spacing: 0.03em;
}

.header-nav {
    display: block;
    font-weight: 500;
    line-height: 1.1;
    color: var(--main-color);
    padding: 32px 0;

}
.navigate-item:not(:last-child) {
    margin-right: 50px;
}
    

.navigate-list {
    display: flex;
}


.header-nav:hover,
.header-nav:focus {
    color: var(--add-color);
}

.contact:hover,
.contact:focus {
    color: var(--add-color);
}

.navigate {
    display: flex;
}

.navigate-nav {
    display: flex;
    align-items: center;
}

.contact {
    display: flex;   
    font-weight: 500;    
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--filter-menu);    
    
    padding: 32px 0;
}

.contacts {
    margin-left: auto;    
}
.contacts-item:not(:last-child) {
    margin-right: 50px;
}


.contact:hover {
    color: var(--add-color);
    cursor: pointer;
}

.contact:focus {
    color: var(--add-color);
}

/* HERO */

.hero {       
    padding-top: 200px;
    padding-bottom: 200px;
    background-color: #2F303A; 
    text-align: center;
}


.baner {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #FFFFFF;
    background-color: #2F303A; 
    width: 696px;   
    margin-left: auto;
    margin-right: auto;
    
}

.main-btn {    
    font-weight: 700;
    font-size: 16px;
    line-height: 1.8;
    text-align: center;
    letter-spacing: 0.06em;
    color: #f4f8f5;
    background-color: var(--add-color);
    cursor: pointer;
    padding: 10px 32px;
    margin-top: 30px;
    border: none;
    border-radius: 4px;
   
    

}
.main-btn:hover, .main-btn:focus {
    background: #188CE8;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);   
}
 
/* ADVANTAGES */



.why-list {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.1;    
    color: var(--main-color); 
    margin-bottom: 10px;
}

.why-p {    
    line-height: 1.7;
}
.advantages-list {
    display: flex;    
}
.advantages-item:not(:last-child){
    margin-right: 30px;
}
.advantages-item{
    width: 270px;
}



/* ЧЕМ МЫ ЗАНИМАЕМСЯ */
.about{
    padding-top: 0;
}
.why-lines {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
    margin-bottom: 50px;
}
.our-lines-titel {
    display: flex;   
}
.our-lines:not(:last-child) {
    margin-right: 30px;
}

/* НАША КОМАНДА */

.comand-section {
    background-color: #F5F4FA;
}
.comand-name {
        font-weight: 700;
        font-size: 36px;
        line-height: 1.2;
        letter-spacing: 0.03em;
        text-align: center;
        color: var(--main-color);
        margin-bottom: 50px;
}

.team-line {
    display: flex; 
    text-align: center;      
}
.team-item:not(:last-child) {
    margin-right: 30px;
    
}
.team-item {
    background-color: #FFFFFF;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px
}



.team-rang {   
    font-size: 16px;
    line-height: 1.1;
    /* text-align: center; */
    letter-spacing: 0.03em;
    color: var(--filter-menu);
    text-align: center;
}
.team-name {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.1;   
    letter-spacing: 0.03em;    
    color: var(--main-color);  
    margin-bottom: 10px;
  
    
}

.team-wrap {
    padding: 30px 0;
}



/* PAGE PORTFOLIO */

.filter {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;

}

.filter-item:not(:last-child) {
    margin-right: 8px;
}

.filter-list {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    text-align: center;
    letter-spacing: 0.03em;   
    color: var(--main-color);    
    cursor: pointer;
    border: none;
    padding: 6px 22px;
    border-radius: 4px;
    }

.filter-list:hover {
    color: #FFFFFF;
    background-color: var(--add-color);
}

.filter-list:focus {
    color: #FFFFFF;
    background-color: var(--add-color);
}

.filter-all {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--main-color);
    width: 73px;
    cursor: pointer;
    }

.filter-all:hover {
    color: #FFFFFF;
    background-color: var(--add-color);
}

.filter-all:focus {
    color: #FFFFFF;
    background-color: var(--add-color);
}
    

.filter:hover {
       cursor: pointer;
}

/* Our Project */



.what-project {
    display: flex;
    flex-wrap: wrap;       
    gap: 30px;
    
}
.type-project {
    background: var(--bancground-color);
    border: 1px solid #EEEEEE;
}

.project-title {
    font-weight: 700;
    text-decoration: none;
    font-size: 18px;
    line-height: 2;    
    color: var(--main-color);
    margin-top: 20px;
    margin-bottom: 4px;

}

.project-list {
    font-size: 16px;
    line-height: 1.8;
    letter-spacing: 0.03em;
    text-decoration: none;    
    color: var(--filter-menu);
    margin-bottom: 20px;
}

/* .project-itemes{
    margin-top: 20px;
    margin-bottom: 20px;
} */





/* ФУТЕР */

 .footer {
    background: #2F303A;
    padding: 60px 0; 
 }
 .logo-foot {
    color: #FFFFFF;
 }


 .header-foot {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    text-align: center;
    text-decoration: none;
    color: var(--add-color);
    
 }


.adress {
    font-style: normal;   
    line-height: 1.7;    
    color: var(--filter-menu);
    margin-top: 20px;
   
}


.foot-link {
  
    line-height: 1.7;   
    
    color: rgba(255, 255, 255, 0.6);   
 }
.fotter-link:not(:last-child) {
    margin-bottom: 9px;   
}
