

.header 
{

}
ul {    
    list-style-type: none;    
}

.Baner
 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    font-size: 44px;
    line-height: 60px;
    color: aquamarine;
}